@tailwind base;
@tailwind components;
@tailwind utilities;

  
  
  /* Apply global styles to the body */
  body {
   
    @apply h-screen;
  }






  /* Style the container with a blue/white glow on hover */
  .container {
    @apply max-w-screen-md p-4 shadow-sm;
 
  }

  .page-container{
    @apply  p-4  w-full  h-full
  }
  

  /* Style the title */
  h1 {
    font-size: 2rem;
 
  }

 

  
  a:hover {
    text-decoration: none;
  }


    .fire-effect-milo {
    @apply  text-2xl text-orange-500 font-bold mt-10 mb-10   pr-2 border-r-4  opacity-100 text-left transition-all  delay-150 ;
    
  
   
  
   
    transition: opacity 0.35s, transform 0.35s;
 
    transform: translate3d(0px, 0, 0);
    text-shadow: 0 0 2px #000000;
  }

