@tailwind base;
@tailwind components;
@tailwind utilities;

  
  
  /* Apply global styles to the body */
  body {
   
    @apply h-screen;
  }

  /* Style the container with a blue/white glow on hover */
  .container {
    @apply max-w-screen-md p-4 shadow-sm;
 
  }

  .page-container{
    @apply  p-4 bg-slate-300 w-full  h-full
  }
  

  /* Style the title */
  h1 {
    font-size: 2rem;
    color: white; /* White text color */
  }

 

  /* Remove underline from links */
  a:hover {
    text-decoration: none;
  }


  