@tailwind base;
@tailwind components;
@tailwind utilities;

  
  
  /* Apply global styles to the body */
  body {
   
    @apply h-screen;
  }






  /* Style the container with a blue/white glow on hover */
  .container {
    @apply max-w-screen-md p-4 shadow-sm;
 
  }

  .page-container{
    @apply  p-4  w-full  h-full
  }
  

  /* Style the title */
  h1 {
    font-size: 2rem;
    color: white; /* White text color */
  }

 

  
  a:hover {
    text-decoration: none;
  }


    .fire-effect-milo {
    @apply text-xl text-yellow-100 font-bold mt-10 mb-10 ;
    padding: 0 10px 0 0;
    width: 75%;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 1;
 
    transition: opacity 0.35s, transform 0.35s;
 
    transform: translate3d(0px, 0, 0);
    text-shadow: 0 0 2px #000000;
  }